<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
    <li class="nav-item">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="nav-link">Home</a>
        <li class="nav-item">
            <a [routerLink]="['/qlAccount']" routerLinkActive="router-link-active" class="nav-link">Quản lý tài khoản</a>
        </li>
</ul>

<div>
    <router-outlet></router-outlet>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Button trigger modal -->